{% extends 'Gestor_Sala/gestor-sala-home.html' %}
{% block content %}

    <h1>OPERARIO - TAREAS REALIZANDO</h1><br>
    <table style="width: 100%">
        <tr>
                <th style="width:20%; text-align: left">Id</th>
                <th style="width:20%; text-align: left">Descripción</th>
                <th style="width:20%; text-align: left">Producto</th>
                <th style="width:20%; text-align: left">Función</th>
        </tr>
    {% for task in task_operator %}
       <tr>
           <td><a href="{% url 'storageandgo:operari_detall_tasca'  pk=task.pk%}">{{ task.pk }}</a></td>
           <td><a href="{% url 'storageandgo:operari_detall_tasca'  pk=task.pk%}">{{ task.description }}</a></td>
           <td><a href="{% url 'storageandgo:operari_detall_tasca'  pk=task.pk%}">{{ task.product }}</a></td>
            <td><a href='{% url "storageandgo:finish_task" task.pk %}'><button class="w3-button w3-grey" style="width: 100px; height: 40px">FINALIZAR</button></a></td>
        </tr>

    {% endfor %}
    </table>

    <h1>TÉCNICO - TAREAS REALIZANDO</h1><br>
    <table style="width: 100%">
        <tr>
                <th style="width:20%; text-align: left">Id</th>
                <th style="width:20%; text-align: left">Descripción</th>
                <th style="width:20%; text-align: left">Sala</th>
                <th style="width:20%; text-align: left">Función</th>
        </tr>
    {% for task in task_maintenance %}
        <tr>
            <td><a href="{% url 'storageandgo:tecnics_detall_tasca'  pk=task.pk%}">{{ task.pk }}</a></td>
            <td><a href="{% url 'storageandgo:tecnics_detall_tasca'  pk=task.pk%}">{{ task.description }}</a></td>
            <td><a href="{% url 'storageandgo:tecnics_detall_tasca'  pk=task.pk%}">{{ task.room }}</a></td>
            <td><a href='{% url "storageandgo:finish_task" task.pk %}'><button class="w3-button w3-grey" style="width: 100px; height: 40px">FINALIZAR</button></a></td>
        </tr>

    {% endfor %}
    </table>
{% endblock %}
