{% extends 'Tecnics/tecnics-home.html' %}
{% block content %}

    <h1>TAREAS A REALIZAR</h1>

    {% if tasques_tecnics_a_realitzar %}
        <table style="width: 100%">
        <tr>
                <th style="width:20%; text-align: left">Id</th>
                <th style="width:20%; text-align: left">Descripción</th>
                <th style="width:20%; text-align: left">Producto</th>
                <th style="width:20%; text-align: left">Función</th>
        </tr>
            {% for task in tasques_tecnics_a_realitzar %}
                <tr>
                    <td>{{ task.pk }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.product }}</td>
                    <td><a href='{% url "storageandgo:accept_task" task.pk %}'><button class="w3-button w3-grey" style="width: 100px; height: 40px">ACEPTAR</button></a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
