{% extends "home.html" %}
{% block sidebar %}
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-red w3-collapse w3-large w3-top" style="vz-index:3; top: 20%; width:250px; height: 80%; font-weight:bold; overflow:auto; overflow-x:hidden" id="mySidebar"><br>
        <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
        <div class="w3-container">

            <a href= {% url 'storageandgo:tecnics_arealizar' %}><h3 class="w3-padding-32 w3-button w3-left-align"style="width: 240px"><b>A realizar</b></h3></a>
            <a href= {% url 'storageandgo:tecnics_realizando' %}><h3 class="w3-padding-32 w3-button w3-left-align"style="width: 240px"><b>Realizando</b></h3></a>
            <a href= {% url 'storageandgo:tecnics_finalizado' %}><h3 class="w3-padding-32 w3-button w3-left-align"style="width: 240px"><b>Finalizado</b></h3></a>

            <a href= {% url 'storageandgo:afegir_averia' %}><button class="w3-button w3-circle w3-black w3-display-bottomright"style="position: fixed; width:1.5cm; height:1.5cm; margin-right: 2%; margin-bottom: 2%">+</button></a>
        </div>
    </nav>
{% endblock %}
