{% extends 'Operaris/operari-home.html' %}

    {% block content %}
        <h1>TAREAS REALIZANDO</h1>
        {% if tasques_operari_realizando %}
            <ul>
                {% for task in tasques_operari_realizando %}
                    <a href="#">{{ task.description }}</a> - <a href="{% url 'storageandgo:finish_task' task.pk %}">Finalizar</a> / <a href="{% url 'storageandgo:accept_task' task.pk %}"></a>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}
