{% extends 'Operaris/operari-home.html' %}
{% block content %}

    <h1>TAREAS A REALIZAR</h1>

    {% if tasques_operari_a_realitzar %}
        <ul>
            {% for task in tasques_operari_a_realitzar %}
                <table style="width: 100%">
                <tr>
                    <td><h3>{{ task.pk }} - {{ task.description }} - {{ task.product }} - </h3></td>
                    <td><a href='{% url "storageandgo:accept_task" task.pk %}'><button class="w3-button w3-grey" style="width: 100px; height: 40px">ACEPTAR</button></a></td>
                </tr>
                </table>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
