{% extends "Gestor_Sala/gestor-sala-home.html" %}
{% block content %}
    <table align="center" style="width: 100%">
        <tr>
            <td align="center">
                <h3>Introueix la referencia del manifest</h3>
            </td>
        </tr>
        <tr>
            <td align="center">
                <input name="codi_manifest" id="codi_manifest">
            </td>
        </tr>
        <tr><td>&#160</td></tr>
        <tr>
            <td align="center">
                <button name="submit" id="submit" type="button" >Genera tasques</button>
            </td>
        </tr>
    </table>
{% endblock %}