{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <title>Storage&Go</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
        body {font-size:16px;}
        .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
        .w3-half img:hover{opacity:1}
    </style>
    <body>

        <!--- Header --->
        <div class="w3-hide-small w3-hide-medium w3-red w3-top">
            <div class="w3-container">
                <h1 class="w3-padding-32"style="text-align: center"><b>Storage&Go</b></h1>
            </div>

            <div class="w3-container w3-cell w3-display-topright">
                <h1 class="w3-padding-32"style="text-align: right"><img src="http://cdn.onlinewebfonts.com/svg/img_211158.png" alt="Logout"style="width: 50px; height: 50px"></h1>
            </div>

            <div class="w3-container w3-cell w3-display-topright"style="padding-right: 90px">
                <h1 class="w3-padding-32"style="text-align: right"><img src="http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png" alt="User"style="width: 50px; height: 50px"></h1>
            </div>

            <div class="w3-container w3-cell w3-display-topright"style="padding-right: 164px">
                <h1 class="w3-padding-32"style="text-align: right"><img src="https://image.flaticon.com/icons/svg/54/54810.svg" alt="Notification"style="width: 50px; height: 50px"></h1>
            </div>
        </div>

        <!-- Sidebar/menu -->
        <nav class="w3-sidebar w3-red w3-collapse w3-large w3-padding" style="z-index:3;width:250px;font-weight:bold;" id="mySidebar"><br>
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
            <div class="w3-container">
                <h3 class="w3-padding-32 w3-button w3-left-align"style="width: 250px"><a href="{% url 'storageandgo:gestor_arealizar' %}"><b>A realizar</b></a></h3>
                <h3 class="w3-padding-32 w3-button w3-left-align"style="width: 250px"><a href="{% url 'storageandgo:gestor_realizando' %}"><b>Realizando</b></a></h3>
                <h3 class="w3-padding-32 w3-left-align"style="width: 250px"><b>Finalizado</b></h3>
                <h3 class="w3-padding-32 w3-button w3-left-align"style="width: 250px"><a href="{% url 'storageandgo:gestor_añadirtarea' %}"><b>Añadir tarea</b></a></h3>
            </div>
        </nav>

        <!-- Top menu on small screens -->
        <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
            <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
            <span>Storage&Go</span>

            <div class="w3-container w3-cell w3-display-topright" style="padding-top: 15px">
                <h7 class="w3-padding-16"style="text-align: right"><img src="http://cdn.onlinewebfonts.com/svg/img_211158.png" alt="Logout"style="width: 35px; height: 35px"></h7>
            </div>

            <div class="w3-container w3-cell w3-display-topright"style="padding-top:15px; padding-right: 90px">
                <h7 class="w3-padding-16"style="text-align: right"><img src="http://pluspng.com/img-png/user-png-icon-male-user-icon-512.png" alt="User"style="width: 35px; height: 35px"></h7>
            </div>

            <div class="w3-container w3-cell w3-display-topright"style="padding-top:15px; padding-right: 164px">
                <h7 class="w3-padding-16"style="text-align: right"><img src="https://image.flaticon.com/icons/svg/54/54810.svg" alt="Notification"style="width: 35px; height: 35px"></h7>
            </div>

        </header>

        <!-- Overlay effect when opening sidebar on small screens -->
        <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

        <!-- !PAGE CONTENT! -->
        <div class="w3-main" style="margin-left:340px;margin-right:40px">
            {% block content %}

            {% endblock %}
        </div>

        <!-- Header -->
        <div class="w3-container" style="margin-top:80px" id="showcase">
            <h1 class="w3-jumbo">

            </h1>
        </div>

        <script>
            // Script to open and close sidebar
            function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
            }

            function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
            }

            // Modal Image Gallery
            function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
            }
        </script>
    </body>
</html>