{% extends 'Gestor_Sala/gestor-sala-home.html' %}
{% block content %}
    <h1> Sala {{ sala.name }}</h1>
    <ul>
        <li>{{ sala.pk }}</li>
        <li>{{ sala.contenidorsInside }}<h10> Contenedores</h10>/{{ sala.capacity }}</li><h10> Capacidad</h10>
        <li>{{ sala.humitMin }}</li><h10>Humedad MAX</h10>
        <li>{{ sala.humitMax }}</li><h10>Humedad MIN</h10>
        <li>{{ sala.temperatureMin }}</li><h10>Humedad MAX</h10>
        <li>{{ sala.temperatureMax }}</li><h10>Humedad MIN</h10>
        <li>{{ sala.description }}</li><h10>Descripcioón</h10>
        </ul>

    <a href='{% url "storageandgo:sala_delete" sala.pk %}'><button class="w3-button w3-white" style="width: 100px; height: 100px; margin: 15px">DELETE</button></a>
{% endblock %}
