{% extends 'gestor-sala-home.html' %}

    {% block content %}
        <h1> Salas </h1>

            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 1</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 2</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 3</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 4</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 5</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 6</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 7</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 8</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 9</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 10</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 11</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 12</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 13</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 14</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 15</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 16</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 17</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 18</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 19</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 20</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 21</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 22</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 23</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 24</button>
            <button class="w3-button w3-green"style="width: 100px; height: 100px; margin: 15px">SALA 25</button>

        <a href={% url 'storageandgo:añadir_sala_form.html' %}><button class="w3-button w3-circle w3-black w3-display-bottomright"style="width:1.5cm;height:1.5cm;position:fixed; margin-bottom: 2%; margin-right: 2%">+</button></a>

    {% endblock %}2