{% extends 'ceo/ceo-home.html' %}

    {% block content %}
        <h1> SALAS </h1>

            {% for sala in rooms %}
               {% if sala.percent_ocupation < 50 %}
                   <a href='{% url "storageandgo:sala_detail" sala.pk %}'><button class="w3-button w3-green" style="width: 100px; height: 100px; margin: 15px">SALA {{ sala.pk }} <br> {{ sala.contenidorsInside }}/{{ sala.capacity }} </button></a>
               {% endif %}
               {% if sala.percent_ocupation >= 50 and sala.percent_ocupation < 75 %}
                   <a href='{% url "storageandgo:sala_detail" sala.pk %}'><button class="w3-button w3-yellow" style="width: 100px; height: 100px; margin: 15px">SALA {{ sala.pk }} <br> {{ sala.contenidorsInside }}/{{ sala.capacity }} </button></a>
               {% endif %}
               {% if sala.percent_ocupation >= 75 and sala.percent_ocupation < 100 %}
                   <a href='{% url "storageandgo:sala_detail" sala.pk %}'><button class="w3-button w3-orange" style="width: 100px; height: 100px; margin: 15px">SALA {{ sala.pk }} <br> {{ sala.contenidorsInside }}/{{ sala.capacity }} </button></a>
               {% endif %}
               {% if sala.percent_ocupation >= 100 %}
                   <a href='{% url "storageandgo:sala_detail" sala.pk %}'><button class="w3-button w3-red" style="width: 100px; height: 100px; margin: 15px">SALA {{ sala.pk }} <br> {{ sala.contenidorsInside }}/{{ sala.capacity }} </button></a>
               {% endif %}
            {% endfor %}

            <a href= {% url 'storageandgo:afegir_sala' %}><button class="w3-button w3-circle w3-black w3-display-bottomright"style="position: fixed; width:1.5cm; height:1.5cm; margin-right: 2%; margin-bottom: 2%">+</button></a>
    {% endblock %}
