{% extends "ceo/ceo-home.html" %}
{% block content %}


    <h1>HISTORIAL TAREAS OPERADOR</h1><br>
    <table style="width: 100%">
        <tr>
                <th style="width:20%; text-align: left">Id</th>
                <th style="width:20%; text-align: left">Descripción</th>
                <th style="width:20%; text-align: left">Producto</th>
                <th style="width:20%; text-align: left">Función</th>
        </tr>
    {% for task in task_operator %}
        <tr>
            <td>{{ task.pk }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.product }}</td>
        </tr>
    {% endfor %}
    </table>

    <h1>HISTORIAL TAREAS MANTENIMIENTO</h1><br>
    <table style="width: 100%">
        <tr>
                <th style="width:20%; text-align: left">Id</th>
                <th style="width:20%; text-align: left">Descripción</th>
                <th style="width:20%; text-align: left">Sala</th>
        </tr>
    {% for task in task_maintenance %}
        <tr>
            <td>{{ task.pk }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.room }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
