{% extends "Gestor_Sala/gestor-sala-home.html" %}
{% block content %}
    <h1>TOTAL COMPLETOS</h1>
    <div class="myProgress" id="completosProgress">
        <div class="myBar" id="completosBar">0%</div>
    </div>
    <h1></h1>

    <h1>CAPACIDAD USADA</h1>
    <div class="myProgress" id="capacidadProgress">
        <div class="myBar" id="capacidadBar">0%</div>
    </div>

    <h1>MES
        <select name="monthlist" >
            {% for i in range %}
                <option value="{{ forloop.counter }}">{{ forloop.counter }}</option>
            {% endfor %}
        </select>
    </h1>
    <div class="myProgress" id="monthProgress">
        <div class="myBar" id="monthBar">0%</div>
    </div>

    <h1>INFORMES ENTRADA</h1>
<table>
    {% if manifestos_entrada%}
        <tr>
            <th style="width:20%; text-align: left">Fecha entrada</th>
            <th style="width:20%; text-align: left">Producto</th>
            <th style="width:20%; text-align: left">Fecha salida</th>
        </tr>
        {% for manifesto in manifestos_entrada %}
            <tr>
                <td>{{ manifesto.creationDate }}</td>
                <td>
                    {% for product in manifesto.products.all %}
                        {{ product.name }} (x{{ product.qty }}) <br>
                    {% endfor %}
                </td>
                <td>{{ manifesto.revisionDate }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
    <table>
    <h1>INFORMES SALIDA</h1>
    {% if manifestos_sortida %}

        <tr>
            <th style="width:20%; text-align: left">Fecha entrada</>
            <th style="width:20%; text-align: left">Producto</th>
            <th style="width:20%; text-align: left">Fecha salida</th>
        </tr>
        {% for manifesto in manifestos_sortida %}
            <tr>
                <td>{{ manifesto.creationDate }}</td>
                <td>{{ manifesto.products.name }}</td>
                <td>{{ manifesto.revisionDate }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>
<script>
function move(num, tag) {
  var elem = document.getElementById(tag);
  var width = 0;
  var id = setInterval(function() {frame(num);}, 10);
  function frame(num) {
    if (width >= num) {
      clearInterval(id);
    } else {
      width++;
      elem.style.width = width + '%';
      elem.innerHTML = width * 1 + '%';
    }
  }
}

$.ajax({
        url: '/storageandgo/complets_sla/',
        type: 'get',
        success: function (data) {
            if (data != '-1') {
                {#document.getElementById("myBar").innerHTML = "SUCCESS";#}
                move(data, "completosBar")
            } else {
                document.getElementById("myBar").innerHTML = "ERROR2";
            }
        },
        failure: function (data) {
            document.getElementById("myBar").innerHTML = "ERROR1";
        }
    });

$.ajax({
        url: '/storageandgo/capacitat/',
        type: 'get',
        success: function (data) {
            if (data != '-1') {
                {#document.getElementById("myBar").innerHTML = "SUCCESS";#}
                move(data, "capacidadBar")
            } else {
                document.getElementById("myBar").innerHTML = "ERROR2";
            }
        },
        failure: function (data) {
            document.getElementById("myBar").innerHTML = "ERROR1";
        }
    });
</script>
{% endblock %}